---
import { Image } from "astro:assets";
import TextGradient from "./TextGradient.astro";

export interface BannerProps {
    title: string;
    subtitle: string;
    phrase: string;
    image: string;
    fromColor: string;
    viaColor: string;
    toColor: string;
}

const { title, subtitle, phrase, image, fromColor, viaColor, toColor } = Astro.props as BannerProps;
---

<section
    class="container mx-auto mt-24 bg-white dark:bg-black bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern.svg')] dark:bg-[url('https://flowbite.s3.amazonaws.com/docs/jumbotron/hero-pattern-dark.svg')]"
>
    <div
        class="py-8 mx-auto max-w-screen-xl text-center lg:py-16 z-10 relative"
    >
        <h1
            class="alibaba mb-4 text-4xl font-semibold tracking-tight leading-none text-black md:text-5xl lg:text-6xl dark:text-white"
        >
            {title}
        </h1>
        <p
            class="mb-8 text-sm font-normal text-gray-500 lg:text-xl sm:px-16 lg:px-48 dark:text-gray-100"
        >
            {subtitle}
        </p>
        <TextGradient
            phrase={phrase}
            fromColor={fromColor}
            viaColor={viaColor}
            toColor={toColor}
        />
        <div class="p-5">
            <Image
                class="h-auto w-full m-auto rounded-lg animated-banner"
                src={image}
                alt="Banner principal de la pagina"
                width="1280"
                height="800"
            />
        </div>
    </div>
    <div
        class="bg-gradient-to-b from-slate-50 to-transparent dark:from-black w-full h-96 absolute top-0 left-0 z-0"
    >
    </div>
</section>

<style>
    @keyframes zoom {
        from {
            scale: 0%;
        }
        to {
            scale: 100%;
        }
    }

    .animated-banner {
        view-timeline-name: --image;
        view-timeline-axis: block;
        animation-timeline: --image;
        animation-name: zoom;
        animation-range: entry 0% cover 50%;
        animation-fill-mode: both;
    }
</style>
